.main_heading {
  background-image: url(img/header_page_catalog.png);
  background-size: cover;
  max-height: 200px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: 50% -9px;
}
.main_heading .title_main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_heading .title1 {
  color: #FFFFFF;
  font-size: 60px;
  position: absolute;
  top: 100px;
}
.page_content {
  display: flex;
  flex-direction: column;
}
.page_heading {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 32px;
  font-size: 20;
}
.page_text {
  text-align: center;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12;
  text-transform: uppercase;
}
.catalog_card {
  border-top: solid #E5E5E5 2px;
  padding: 20px 20px;
}
.catalog_card_4 {
  border-bottom: solid #E5E5E5 2px;
}
.card_text {
  color: #333333;
  margin-top: 10px;
}
.card_like {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.card_like div {
  margin-left: 15px;
}
.card_title {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
}
.photo-1 {
  background-image: url(img/photo-1-mobile.jpg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 280px;
}
.photo-2 {
  background-image: url(img/photo-2-mobile.jpg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 280px;
}
.photo-3 {
  background-image: url(img/photo-3-mobile.jpg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 280px;
}
.photo-4 {
  background-image: url(img/photo-bridge@1x\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 280px;
}
.like_button_catalog {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: white;
  border: none;
}
.like_button_catalog .like_icon {
  width: 30px;
  height: 30px;
  margin-left: 0px;
  background-image: url(img/like-icon1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.like_button_catalog .like_toggle {
  background-image: url(img/like\ icon2.jpg);
}
.counter_like_catalog {
  font-weight: 700;
}
