.form_block1{
    padding: 20px;
}
.form_title{
    text-align: center;
}
.form_info{
    display: flex;
    margin-top: 10px;
    form{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        width: 100%;
    }
}
.checkbox_form1{
    background-color: #F2F2F2;
    width: 48px;
    height: 48px;
    
}
.checkbox_form2{
    background-color: #F2F2F2;
    width: 48px;
    height: 48px;
}

.form_name{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    input{
        border: none;
        background-color: #F2F2F2;
        height: 55px;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        text-align: center;
        margin-left: 15px;
    }
    label{
        font-size: 16px;
    }
}