.main_conteiner1 {
  background-image: url(img/back-mobile.jpg);
  background-size: cover;
  min-width: 320px;
  width: 100%;
  height: 518px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: 50% -9px;
}
.main_conteiner1 .title_main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_conteiner1 .title1 {
  color: #81B3D3;
  position: absolute;
  top: 130px;
  font-size: 24px;
}
.main_conteiner1 .title2 {
  color: #766458;
  position: absolute;
  top: 170px;
  font-size: 20px;
}
.main_conteiner1 .title3 {
  color: #FFFFFF;
  font-size: 60px;
  position: absolute;
  top: 220px;
}
.main_conteiner1 .title4 {
  color: #FFFFFF;
  font-size: 20px;
  font-style: italic;
  position: absolute;
  top: 300px;
}
.main_conteiner2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_conteiner2 .title5 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.main_conteiner2 .title6 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  text-decoration: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  margin-top: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.main_conteiner3 {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  margin-bottom: 0px;
}
.main_conteiner3 .photo_card1 {
  background-size: contain;
  min-height: 260px;
}
.main_conteiner3 .card1 {
  width: 256px;
  background: #81B3D2;
  padding-left: 12px;
  padding-right: 12px;
  color: #FFFFFF;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 260px;
}
.main_conteiner3 .img_div1 {
  height: 260px;
  width: 100%;
  background-image: url(img/photo-city@1x\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.main_conteiner3 .img_div2 {
  height: 260px;
  width: 100%;
  background-image: url(img/photo-bridge@1x\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.no-reverse {
  flex-direction: row;
}
.main_conteiner4 {
  background: #EEEEEE;
  margin-top: 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main_conteiner4 ul {
  display: flex;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.main_conteiner4 li {
  text-decoration: none;
  list-style: none;
}
.main_conteiner4 .card2 {
  font-family: 'PT Sans';
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  padding-top: 26px;
  padding-bottom: 24px;
  height: 250px;
}
.main_conteiner4 .border_card {
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
}
.main_conteiner5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0px 0px 0px 0px;
}
.main_conteiner5 .block_conteiner5 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}
.main_conteiner5 .block_conteiner5 img {
  text-align: center;
  width: 40px;
  height: 40px;
  margin-right: 0px;
}
.main_conteiner5 .block_conteiner5 div {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 100%;
}
.main_conteiner6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  height: 200px;
  padding-bottom: 30px;
}
.main_conteiner6 .heading1 {
  font-weight: 600;
  font-size: 21px;
}
.main_conteiner6 .text1 {
  margin-top: 27px;
  margin-bottom: 27px;
  font-size: 18px;
}
.main_conteiner6 .search_hotel {
  text-align: center;
  width: 280px;
  height: 58px;
  color: #FFFFFF;
  background-color: #81B3D2;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  mix-blend-mode: normal;
  text-transform: uppercase;
  border: none;
}
.hover:hover {
  background-color: #669EC0;
}
